<div class="container">
  <div class="row green-text">
    <i class="material-icons medium">volume_up</i>
  </div>
  <div id="logindiv" class="row">
    <h2 class="orange-text center">Torch Music Genre</h2><br>
    <div class="container">
      <div class="row">
      <!-- Spotify Button -->
        <div class="col s6">
          <div class="card-panel grey lighten-5 z-depth-1 center-align">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="../imgs/spotify_icon.png" alt="" class="circle responsive-img">
              </div>
              <div class="col s10">
                <span class="black-text">
                  Train a MLP to identify music genre from Spotify
                </span>
              </div>
            </div>
            <a href="/login" class="waves-effect waves-light btn green">
              <i class="material-icons left">settings</i> Audio Features
            </a>
          </div>
        </div>

        <!-- Audio Button -->  
        <div class="col s6">
          <div class="card-panel grey lighten-5 z-depth-1 center-align">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="../imgs/audio_icon.png" alt="" class="responsive-img">
              </div>
              <div class="col s10">
                <span class="black-text">
                  Train a CNN to identify music genre from GTZAN
                </span>
              </div>
            </div>
            <a href="http://opihi.cs.uvic.ca/sound/genres.tar.gz" class="waves-effect waves-light btn green">
              <i class="material-icons left">settings</i> Raw Audio
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="orange-text accent-4">Note:</span><span class="white-text"> If you choose to train on the GTZAN dataset, don't forget to move the downloaded tar file to the folder: </span><span class="orange-text accent-4">./dataset/raw_audio/</span>
        </div>
      </div>
    </div>
  </div>
</div>